.MenuItem {
    height: 10px;
    display: inline-block;
    margin: 15px;
    cursor: pointer;
}

.SelectedAddMenuItem {
    height: 10px;
    background-color: orange;
    display: inline-block;
    margin: 15px;
    cursor: pointer;
}

.ImgItem {
    width: 100px;
    height: 70px;
    margin: 50px;
}

.TextItem {
    text-align: center;
}

.TapStyle {
    margin: '3px';
    display:'inline-block';
    cursor:'pointer'
}
